.root {
  position: relative;
  z-index: 3;
}

.mask {
  position: fixed;
  z-index: 2;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.content {
  /* position: relative; */
  position: absolute;
  z-index: 3;
  width: 100%;
  background-color: #fff;
}

.content :global(.am-flexbox) {
  text-align: center;
}

/* body-fixed的类名 在展示遮罩层时 应该禁止滑动 其实就是隐藏剩余内容*/
:global(.body-fixed) {
  overflow: hidden;
}

/*重写ReactVirtualized_list的类中的*/
/* 直接加上style即可 */
